<div class="card">
  <div class="card-header" [apHighlight]="'green'">
    {{auction.title}}
  </div>
  <img class="card-img" [src]="auction.imgUrl" alt="fotka dla aukcji">
  <div class="card-body">
    <p class="card-text">
      {{auction.description}}
    </p>
    <div class="d-flex justify-content-between">
      <b>
        {{auction.price}} zł
      </b>
      <button *ngIf="showCartButton" class="btn btn-primary" (click)="addToCart.emit(auction)">
        <i class="fa fa-cart-plus"></i>
      </button>
    </div>
  </div>
</div>
