<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!--<button class="navbar-toggler" type="button" (click)="showMenu = !showMenu" >-->
  <button class="navbar-toggler" type="button" (click)="toggleShowMenu()" >
    <span class="navbar-toggler-icon"></span>
  </button>
  <!--<div class="collapse navbar-collapse" [ngClass]="{ 'show': showMenu }">-->
  <div class="collapse navbar-collapse" [class.show]="showMenu">
    <ul class="navbar-nav">
      <!--
      <li *ngFor="let element of ['Aukcje', 'Inne Aukcje', 'Test']" class="nav-item active" [title]="element">
        <a class="nav-link" href="#">{{element}} !!</a>
      </li>
      -->
      <li class="nav-item" *ngFor="let item of menuItems">
        <a class="nav-link" [routerLink]="item.link">{{item.title}}</a>
      </li>
    </ul>
  </div>
</nav>

<!-- <div [ngStyle]="{ color: 'red' }"> -->
<!--
<div [style.color]="'green'">
  Hello World
</div>
-->
