
<!--
<h1>
  {{ title }}
</h1>

{{helloWorld()}}

&lt;!&ndash;<span title="helloWorld()"> Mój test </span>&ndash;&gt;
&lt;!&ndash;<span [title]="helloWorld()"> Mój test </span>&ndash;&gt;
<span [title]="title + '!'"> Mój test </span>

<p>
  {{randomNumber + 1 + 1}}
</p>

<div *ngIf="showAlert"> Alert! </div>
-->

<ap-header></ap-header>

<div class="container">
  <ap-main-menu></ap-main-menu>
  <i class="fa fa-plus"></i>

  <ap-auctions></ap-auctions>

  <router-outlet></router-outlet>
</div>



