<div class="row">
  <div class="col-8"><h2>Lista naszych aukcji</h2></div>
  <div class="col-4">
    <ap-search [title]="'Szukaj aukcji...'" (search)="filterBy = $event" ></ap-search>
  </div>
</div>
<div class="d-flex justify-content-end">
  <!--
       komponent który jest smart DI: cartService, --inlineStyle --inlineTemplate
       skorzystaj z pipe | async !
    -->
  <ap-cart-item-counter></ap-cart-item-counter>
</div>
<div class="row">
  <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let auction of auctions | auctionsFilter:filterBy ">
    <ap-auction-card
      [auction]="auction"
      (addToCart)="addAuctionToCart($event)"
    >
    </ap-auction-card>
  </div>
</div>
